body{
    
}

#Background-title{
    background-image: url(../img/pattern.png);
 width: auto;
 height: 150px;
 background-repeat: repeat; 
 background-color: rgb(72, 150, 177);
}

#logo{
    max-width: 10%;
    margin-top: 100px;
}

.Source{
    display: block;
    color: gray;
}

#Author{
    color: aqua;
}

.Photos{
    display: block;  
}

table{ 
    text-align: left;
}

.first-row{
    border: 0;
    background-color: blue;
    height: 10px;
    width: auto;
}

.table-row{
    background-color: aqua;
}

#image1{
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    height: 100px;
    width: 150px;
}

#image2{
    background-image: url(../img/graph.jpg);
    background-size: cover;
    height: 100px;
    width: 150px;
}
<table cellspacing="0" cellpadding="0">