body{
    
}

#Background-title{
    background-image: url(../img/pattern.png);
 width: 100px;
 height: 30px; 
}

.Source{
    display: block;
}

table{ 
    text-align: left;
}

.first-row{
    border: 0;
    background-color: blue;
    height: 10px;
    width: auto;
}

.table-row{
    background-color: aqua;
}

#image1{
    background-image:(url(../img/monitor.jpg));
    background-size: auto;
}

#image2{
    background-image:(url(../img/graph.jpg));
}